{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body>
    <div class="background"></div>
    <header>
        <h1>Edit Book Description</h1>
    </header>
    <main>
        <div class="container">
            <div class="image">
                <img id="book-img" src="{{ book.cover_photo.url }}" alt="{{ book.title }}">
            </div> 
            <div class="formcont">
                <form id="editForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="styled-buttom-update">Update Book</button>
                </form>                    
            </div>
        </div>
    </main>
</body>
</html>
{% endblock content %}
