{% load static %}

<footer class="footer">
    <div id="Contact_us_down">
        <div id="Contact_us_text">Contact us</div>
        <div class="contactus_info">
            <div class="email">
                <div class="x1">
                    <img src="{% static 'images/mail.png' %}" class="logo1">
                    <div class="u_logo">Email: <a href="mailto:O_Library@gmail.com">O_Library@gmail.com</a></div>
                </div>
            </div>
            <div class="phone">
                <div class="x2">
                    <img src="{% static 'images/Phone.png' %}" class="logo2">
                    <div class="u_logo">Phone: <a href="tel:015959">015959</a></div>
                </div>
            </div>
            <div class="location">
                <div class="x3">
                    <img src="{% static 'images/location .png' %}" class="logo3">
                    <div class="u_logo">Location: <a href="https://maps.app.goo.gl/X4E93vzWijMxca6bA?g_st=ic">View on Map</a></div>
                </div>
            </div>
        </div>
    </div>

</footer>

